body {
  background-color: #f2f2f2;
}

header {
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  margin: 25px 5px;
  font-family: "Blackadder ITC";
  background-color: #174179;
  padding: 10px;
  color: white;
}

input[type="text"] {
  border-radius: 25px;
  height: 40px;
  width: 250px;
  padding: 0px 15px;
  placeholder: "Search ...";
  background-color: white;
  border: 2px solid #1f7da6;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
