.btn {
  background-color: #b7b0b0;
  border: 1px solid #407c7c;
  border-radius: 8px;
  box-shadow: rgba(10, 189, 189, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #141e1e;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.btn:hover {
  background-color: #f7fafa;
}

.btn:focus {
  border-color: #578288;
  box-shadow: rgba(53, 25, 63, 0.5) 0 2px 5px 0;
  outline: 0;
}
.card {
  width: 18rem;
  margin: 10px 5px;
  transition: transform 0.2s ease-in-out; /* added transition */
}

.card:hover {
  transform: scale(1.05); /* added hover effect */
}
